
/*wie die Links aussehen*/
a{
  text-decoration: inherit;
  font-size: 15px;

}
a:hover{
  font-size: 25px;
  text-decoration: underline;
  color: #ec0030;

}
a:active{
  color: blue;

}

/*obereBox*/
.topbox{
  border: 5px solid black;
  padding-top: 100px;
  padding-bottom: 300px;
  padding-left: 200px;
  padding-right: 100px;
  margin-bottom: 150px;
  background-color: #ec0030;
}

/*Box wo login/registrierung ist */
.loginbox{
  text-align: center;
}
/*Titel login/registrierung*/
.login_titel{
  /*margin-right: 110px;*/
  font-family: fantasy;
  font-size: 60px;
  margin-bottom: 20px;
}

.insiteloginbox{
  text-align: center;
  font-size: 35px;
  font-family: fantasy;

}

.link{
  text-align: center;
  font-family: fantasy;
  color: blue;



}

.inputbox{
  height: 40px;
  width: 250px;

}



button:hover{
background: white;
color: #ec0030;
border: 2px solid black;


}


.button {
  text-align: center;
  font-size: 34px;
  font-family: fantasy;
  border: none;
  color: white;
  background-color: #ec0030;
  height: 50px;
  width: 180px;
  margin: 0;
  position: absolute;

  top: 990px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);



}
